#include <windows.h>
#include "resource.h"

IDR_MAINMENU MENU
BEGIN
    POPUP "&Fichier"
    BEGIN
        MENUITEM "Nouvelle connexion &SSH...\tCtrl+N", IDM_FILE_NEWSSH
        MENUITEM "Nouvelle connexion S&erial...\tCtrl+Shift+N", IDM_FILE_NEWSERIAL
        MENUITEM SEPARATOR
        MENUITEM "&Deconnecter\tCtrl+W", IDM_FILE_DISCONNECT
        MENUITEM SEPARATOR
        MENUITEM "&Quitter\tAlt+F4", IDM_FILE_EXIT
    END
    POPUP "&Sessions"
    BEGIN
        MENUITEM "&Sauvegarder la session...\tCtrl+S", IDM_SESSION_SAVE
        MENUITEM "&Gestionnaire de sessions...\tCtrl+Shift+S", IDM_SESSION_MANAGE
    END
    POPUP "&Edition"
    BEGIN
        MENUITEM "&Copier\tCtrl+Shift+C", IDM_EDIT_COPY
        MENUITEM "Co&ller\tCtrl+Shift+V", IDM_EDIT_PASTE
        MENUITEM SEPARATOR
        MENUITEM "Tout &selectionner\tCtrl+Shift+A", IDM_EDIT_SELECTALL
        MENUITEM "&Rechercher...\tCtrl+F", IDM_EDIT_FIND
        MENUITEM SEPARATOR
        MENUITEM "&Effacer le terminal", IDM_EDIT_CLEAR
    END
    POPUP "&Affichage"
    BEGIN
        MENUITEM "&Police...", IDM_VIEW_FONT
        MENUITEM "&Plein ecran\tF11", IDM_VIEW_FULLSCREEN
    END
    POPUP "&?"
    BEGIN
        MENUITEM "&A propos de NetFlow...", IDM_HELP_ABOUT
    END
END
